body{
    background-color: #1f1f1f;
    transition:0.3s;
}

.dark-theme-toggle {
    position: absolute; /* Set the toggle button to be positioned absolutely */
    top: 1rem; /* Position the toggle button in the top right corner of the page */
    right: 1rem;
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: color 0.2s; /* Add a transition to the color property */
    width: 50px;
    height:50px;
    border-radius: 25px;
    border:none;
    background-color: #2e2e2e;
    transition:0.3s;
    background-image: url("./moon.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x:5px;
    background-position-y: 5px;;
  }
  
  .dark-theme-toggle:hover {
    background-color: white; /* Change the toggle button's color on hover */
    background-image: url("./sun.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x:5px;
    background-position-y: 5px;
  }
  

  .dark-theme-toggle.active{
    background-color: white; /* Change the toggle button's color on hover */
    background-image: url("./sun.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x:5px;
    background-position-y: 5px;
  }

  .dark-theme-toggle.active:hover{
    background-color: black; /* Change the toggle button's color on hover */
    background-image: url("./moon.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x:5px;
    background-position-y: 5px;
  }


#image{
    position: absolute;
    /* Set the image element to be positioned absolutely */
    top: 5rem;
    /* Position the image above the input form */
    left: 50%;
    /* Center the image horizontally */
    transform: translateX(-50%);
    /* Offset the image by half of its width to center it horizontally */
    width: 250px;
    height: 250px;
    transition: 0.3s;
    z-index:2;
}

#embed-player{
    position: absolute;
    /* Set the image element to be positioned absolutely */
    top: 15rem;
    /* Position the image above the input form */
    left: 50%;
    /* Center the image horizontally */
    transform: translateX(-50%);
    /* Offset the image by half of its width to center it horizontally */
    width: 1000px;
    height: 500px;
    transition: 0.3s;
    background-color: #1f1f1f;
    border:solid;
    border-radius: 15px;
    transition:0.3s;
    border-color:white;
}


#embed-player.active{
    background-color:white;
    border-color: black;
}
#search-movie {
    position: absolute;
    /* Set the input form to be positioned absolutely */
    top: 50%;
    /* Center the input form vertically */
    left: 50%;
    /* Center the input form horizontally */
    transform: translate(-50%, 17vw);
    text-decoration: none;
    outline: none;
    width: 400px;
    height:30px;
    padding-right: 25px;
    background-color: #1f1f1f;
    border-radius: 15px;
    border:solid;
    border-color:white;
    color:white;
    font-size: 20px;
    font-family:'Fira Sans Condensed', monospace;
    padding: 0 10px;
    transition:0.3s;
}

#search-movie.active{
    background-color: white;
    color:black;
    border-color: black;
}

#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}
  
#search.active::placeholder{
    color:black;
}

.topnav {
    overflow: hidden;
    font-family:'Fira Sans Condensed', monospace;
    transition: 0.3s;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:white;
    color:black;
  }
  
  #topnav.active a{
    color:black;
  }

  #topnav.active a:hover{
    color:white;
    background-color:black;
  }